@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background: #222222f3 ;
 
}
:root{
  --header-button-1-color:#FFFFFF;
  --header-button-2-color:#C6C7F8;
}